@model Kund

@{
    ViewData["Title"] = "CreateAccount";
}

<h2>Sign up</h2>

<form asp-controller="Customer" asp-action="CreateAccount" method="post">
    <label asp-for="AnvandarNamn"></label>
    <input asp-for="AnvandarNamn"/>

    <br /><br />

    <br /><br />
    <input id="submit" class="btn btn-primary" type="submit" value="Registrera" />

</form>

